.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
:root {
    --primary-color: hsl(171, 66%, 44%);
    --secondary-color: gray;
}
p{
    color: gray;
}
body{
    margin: 0;
    font-family: "Bai Jamjuree", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;

}
.main-page{
    background-image: url("/images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}

.main-page h1 {
    font-weight: 600;
    font-style: normal;
    color: rgba(64, 64, 64, 0.93);

}

.ClipboardLogo {
    display: block;
    margin: 0 auto;
    height: 90px;
}

.buttons{
    display: inline-block;

}
.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    background-color: #4CAF50;
    box-shadow: 0 3px #257e75;
    transition-duration: 0.5s;
}

.button2 {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    background-color: #8896ff;
    box-shadow: 0 3px #1f027e;
    transition-duration: 0.5s;

}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.keep-track{
    text-align: center;
    margin-bottom: 5%;
}
.keep-track h2{
    font-weight: 550;
}

.features{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 150px;
}

.feature-img {
    height: 400px;
}

.access{
    margin-top: 3%;
    height: 400px;
}

.tools:after{
    content: "";
    display: table;
    clear: both;
}

.tool-column{
    float: left;
    text-align: center;
    width: 31.9%;
    padding: 10px;
}

.tool-column h3{
    font-weight: 550;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
    margin-top: 7%;
}

.logos-column {
    width: 1%;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.logos-img{
    height: 30px;
}

.clipboard-bottom{
    text-align: center;
    margin-top: 7%;
}

.clipboard-bottom h1{
    font-weight: 550;
}

.footer {
    margin-top: 7%;
    height: 100px;
    width: 100%;
    background-color: #f5f6f8;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
}

.footer-links{
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 60px;
    justify-content: center;
    color: #555454;
}

.ClipboardLogo2{
    height: 50px;
}

.social-icons{
    display: flex;
    gap: 25%;
    cursor: pointer;
}
